<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="mobile-app-false ng-scope" data-gr-c-s-loaded="true">
<div th:replace="fragments/header::header"></div>
<div ng-view="" class="ng-scope">
    <div class="breadcrum ng-scope">
        <div class="container">
            <div class="breadcrum-line">
                <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
                <a th:href="@{/pitch/management}"><i class="fa fa-angle-right"></i>&nbsp; Danh sách sân</a>
                <a th:href="@{/pitch/management/pitch-info/__${pitchId}__}"><i class="fa fa-angle-right"></i>&nbsp;
                    <th:block th:if="${pitchName != null}" th:text="${pitchName}"></th:block>
                </a>
                <a class=""><i class="fa fa-angle-right"></i>&nbsp; Quản lý đặt sân</a>
            </div>
        </div>
    </div>

    <div class="content-wrap stadium-managment-page ng-scope">
        <div class="container">
            <div class="content-cts">
                <div class="item-card">
                    <div class="row">
                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li>
                                    <a th:href="@{/pitch/management/pitch-info/__${pitchId}__}">
                                        <i class="fa fa-info-circle"></i>
                                        Thông tin sân
                                    </a>
                                </li>

                                <li>
                                    <a th:href="@{/pitch/management/pitch-prices/__${pitchId}__}">
                                        <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;Giá thuê sân
                                    </a>
                                </li>

                                <li class="active">
                                    <a>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        Quản lý
                                    </a>
                                </li>
                            </ul>
                            <div id="bookingManagerTabContent" class="tab-content stadium-booking-manager">
                                <div class="tab-pane fade active in" id="#/calendar" style="padding:5px;">
                                    <div class="row">
                                        <div class="col-md-12 date-picker-bar">
                                            <div class="pull-left">
                                                <div class="col-sm-9 form-group">
                                                    <label>Chọn ngày: </label>
                                                    <input type="date" id="select-date-booking" name="dateBooking"
                                                           th:value="${date}" style="padding: 2px">
                                                </div>
                                                <div class="col-sm-3 form-inline">
                                                    <div class="form-group">
                                                        <button class="btn btn-info btn-sm btn-show-date"
                                                                type="button" title="Xem">
                                                            Xem
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left" style="margin-left: 20%; color:blue">
                                                <h4 id="date-show">Hello</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 ng-scope" id="stadiumBookingTable">
                                            <div class="stadiumBookingTableContainer">
                                                <div class="scroll-bar-x">
                                                    <th:block th:unless="${#lists.isEmpty(timeFrameBookings)}">
                                                        <table class="table table-bordered table-responsive stadium-booking-table">
                                                            <thead>
                                                            <tr>
                                                                <th style="width:125px">Khung giờ</th>
                                                                <th width="235px"
                                                                    th:each="childPitch,iterStat:${timeFrameBookings[0].childPitches}"
                                                                    th:text="${childPitch.name}"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="timeFrameBooking,itemStat:${timeFrameBookings}">
                                                                <td class="time-frame-td">
                                                                    <span class="time-frame-text"
                                                                          th:text="${timeFrameBooking.timeFrame.fromTime + ' - ' + timeFrameBooking.timeFrame.toTime}"></span>
                                                                    <a class="pull-right mobile-only">
                                                                        <i class="fa fa-minus"></i>
                                                                    </a>
                                                                </td>
                                                                <td class="td-booking td-booking-available" valign="middle"
                                                                    th:each="childPitch:${timeFrameBooking.childPitches}">
                                                                    <div class="stadium-number-name mobile-only">
                                                                        <strong th:text="${childPitch.name}"></strong></div>

                                                                    <div class="booking-price-info hover-bg">
                                                                        <i class="fa fa-database"
                                                                           aria-hidden="true"></i>
                                                                        <span  th:text="${childPitch.getCostCommafy()}">3000</span>
                                                                        &nbsp;
                                                                        <a title="Cập nhật giá" th:href="@{/pitch/management/pitch-prices/__${pitchId}__}">
                                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>

                                                                    <form class="stadium-booking-form" th:id="${'form-'+ itemStat.index + '-' + childPitch.id}" style="display: none">
                                                                        <div class="form-group hide">
                                                                            <input type="text" th:id="${'id-' + itemStat.index + '-' + childPitch.id}"
                                                                                th:value="${childPitch.booking != null ? childPitch.booking.id : 0}">
                                                                            <input type="text" th:id="${'dateBooking-' + itemStat.index + '-' + childPitch.id}"
                                                                                th:value="${date}">
                                                                            <input type="text" th:id="${'fromTime-' + itemStat.index + '-' + childPitch.id}"
                                                                                th:value="${timeFrameBooking.timeFrame.fromTime}">
                                                                            <input type="text" th:id="${'toTime-' + itemStat.index + '-' + childPitch.id}"
                                                                                th:value="${timeFrameBooking.timeFrame.toTime}">
                                                                            <input type="text" th:id="${'cost-' + itemStat.index + '-' + childPitch.id}"
                                                                                   th:value="${childPitch.cost}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text" th:id="${'orderName-' + itemStat.index + '-' + childPitch.id}"
                                                                                   class="form-control input-sm" placeholder="Tên Người đặt / Đội bóng"
                                                                                   th:value="${childPitch.booking != null ? childPitch.booking.orderName : ''}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text" th:id="${'orderPhone-' + itemStat.index + '-' + childPitch.id}"
                                                                                   class="form-control input-sm" placeholder="Điện thoại liên hệ"
                                                                                   th:value="${childPitch.booking != null ? childPitch.booking.orderPhone : ''}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="text" th:id="${'content-' + itemStat.index + '-' + childPitch.id}"
                                                                                   class="form-control input-sm" placeholder="Ghi chú"
                                                                                   th:value="${childPitch.booking != null ? childPitch.booking.content : ''}">
                                                                        </div>
                                                                        <div class="form-group text-right">
                                                                            <button type="button" class="btn btn-success btn-sm"
                                                                                    th:onclick="'javascript:submitForm('+ ${itemStat.index + ',' + childPitch.id} +')'">
                                                                                Lưu
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger btn-sm" th:if="${childPitch.booking != null}"
                                                                                    th:onclick="'javascript:deleteBooking('+ ${itemStat.index + ',' + childPitch.id + ',' + childPitch.booking.id} + ')'">
                                                                                Xóa
                                                                            </button>
                                                                            <button type="button" class="btn btn-default btn-sm" th:id="${'btn-close-form-'+ itemStat.index + '-' + childPitch.id}"
                                                                                    th:onclick="'javascript:closeForm('+ ${itemStat.index + ',' + childPitch.id} +')'">Đóng</button>
                                                                        </div>

                                                                    </form>
                                                                    <div class="cl" th:id="${'text-info-'+ itemStat.index + '-' + childPitch.id}"
                                                                         th:onclick="'javascript:openForm('+ ${itemStat.index + ',' + childPitch.id} +')'">
                                                                        <div th:if="${childPitch.booking == null}">
                                                                            Sân đang trống
                                                                        </div>
                                                                        <div th:if="${childPitch.booking != null && childPitch.bookingAccepted}" style="color: red; font-weight: bold">
                                                                            Đã có người đặt
                                                                        </div>
                                                                        <div th:if="${childPitch.booking != null && !childPitch.bookingAccepted}" style="color: blue; font-weight: bold">
                                                                            Chờ phê duyệt
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script th:src="@{/js/my-custom/bookings.js}"></script>
</body>
</html>