<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body ng-app="sportApp" class="page-sportstadiumdetails ">

<div th:replace="fragments/header :: header"></div>

<div class="breadcrum">
    <div class="container">
        <div class="breadcrum-line">
            <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
            <a href="/pitch/all" class="" title="Sân bóng"><i class="fa fa-angle-right"></i>&nbsp; Sân bóng</a>
            <a><i class="fa fa-angle-right"></i>&nbsp;
                <th:block th:text="${pitch.name}"></th:block></a>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-cts">
                    <div class="item-card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="title-sans" th:text="${pitch.name}"></h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="des-san">
                                            <div class="san-address-line">
                                                <i class="fa fa-map-o" aria-hidden="true"></i>
                                                <th:block th:text="${pitch.address + ', ' + pitch.district.name}"></th:block>
                                            </div>
                                            <th:block th:each="pitches:${pitch.groupSpecificPitches}">
                                                <div>
                                                    <strong th:text="${'Giá thuê sân ' + pitches.pitchType.name}"></strong>
                                                </div>
                                                <div class="san-price-line calendar-row" th:each="pitchesCost:${pitches.specificPitchesCosts}">
                                                    <th:block th:text="${pitchesCost.fromTime + ' - ' + pitchesCost.toTime + ', ' + pitchesCost.groupDays.name}"></th:block>
                                                    <div>
                                                        <span class="price-san"><th:block th:text="${pitchesCost.getCostCommafy()}"></th:block><sup>vnđ</sup></span>
                                                        <button class="check-san" th:onclick="'javascript:openBookingArea('+ ${pitchesCost.id} +')'">
                                                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Đặt
                                                            sân
                                                        </button>
                                                    </div>
                                                    <div class="stadium-calendar" style="display: none" th:id="${'booking-area-' + pitchesCost.id}">
                                                        <div class="item-other-detail">
                                                            <div class="ticket-select-date-time item-other-detail-section">
                                                                <div class="item-other-detail-section-header">
                                                                    <strong>ĐẶT SÂN</strong>
                                                                </div>
                                                                <div class="row item-other-detail-section-content">
                                                                    <div class="form-group">
                                                                        <div class="col-md-3" style="margin-top: 20px">
                                                                            <div class="row form-group">
                                                                                <label>Chọn ngày: </label>
                                                                                <input type="date" class="select-date-booking" th:id="${'select-date-booking-' + pitchesCost.id}"
                                                                                       name="dateBooking"
                                                                                       th:value="${today}"
                                                                                       th:onchange="'javascript:changeDate('+ ${pitchesCost.id} +')'"
                                                                                       style="padding: 2px">
                                                                            </div>
                                                                            <div class="row form-group">
                                                                                <button class="btn btn-info btn-sm" th:onclick="'javascript:checkPitches('+ ${pitchesCost.id} +')'"
                                                                                        type="button" title="Tìm sân trống">
                                                                                    Tìm sân trống
                                                                                </button>
                                                                                <button class="btn btn-default btn-sm btn-close-booking-area"
                                                                                        type="button" title="Đóng">
                                                                                    Đóng
                                                                                </button>
                                                                            </div>
                                                                            <div class="hide row form-group">
                                                                                <input type="text" th:id="${'input-date-booking-' + pitchesCost.id}">
                                                                                <input type="text" th:id="${'input-cost-booking-' + pitchesCost.id}" th:value="${pitchesCost.getCostCommafy()}">
                                                                                <input type="text" th:id="${'input-pitch-type-' + pitchesCost.id}" th:value="${pitches.pitchType.name}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <div class="ticket-select-time-wrapper">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-12">
                                                                                        <h4 class="show-date" th:id="${'show-date-' + pitchesCost.id}"></h4>
                                                                                        <hr>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-12">
                                                                                        <div th:id="${'btn-area-' + pitchesCost.id}">
                                                                                            <h4 style="color: blue">Click tìm sân trống để xem kết quả</h4>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </th:block>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="title-img">Liên hệ đặt sân</div>
                                        <div class="des-san contact-info">
                                            <div class="phone-numb">
                                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                                <a href="" class="text-highlight" target="_blank">
                                                    <th:block th:text="${pitch.owner.fullName + ' - ' + pitch.phoneNumber}"></th:block>
                                                </a>
                                            </div>
                                            <div class="des-email">
                                                <a th:href="${'mailto:' + pitch.email}"><i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <th:block th:text="${pitch.email}"></th:block></a>
                                            </div>
                                            <div class="des-facebook">
                                                <a th:href="${pitch.facebook}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                    <th:block th:text="${pitch.facebook}"></th:block></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="title-img">Giới thiệu về sân</div>
                                        <div class="des-san-group san-short-summary">
                                            <th:block th:text="${pitch.introduction}"></th:block>
                                        </div>
                                        <div class="content-sans">
                                            <th:block th:utext="${pitch.detailDescription}"></th:block>
                                        </div>
                                        <div class="slider-home-banner slider-chi-san owl-carousel">
                                            <div>
                                                <img class="img-responsivex"
                                                     src="https://res.givator.com/pictures/11017/600/2019_01/original/4ccb8afb4162425482594f685f982d88.jpeg"
                                                     align="thumbnail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="title-img">Vị trí trên bản đồ</div>
                                        <div class="form-group col-md-12">
                                            <div id="map" style="height: 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fb-comments" data-href="/san-bong-pham-van-dong-3.html" data-numposts="5"></div>
                </div>
            </div>
            <!--STadium list right-->
            <div class="col-md-4">
                <div class="ads-banner-right" id="s9adright">
                </div>
                <div class="sidebar sidebar-tien-san">
                    <p class="title-box"><i class="fa fa-map-marker" aria-hidden="true"></i> Sân bóng cùng địa bàn</p>
                    <div class="list-item-san list-item-san-sidebar">
                        <div class="slider-near-san owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div th:each="samePitch:${pitchesSameDistrict}">
                                <div class="item-card">
                                    <div class="row">
                                        <div class="col-md-12 item-preview-image">
                                            <a th:href="@{/pitch/detail/__${samePitch.id}__}"
                                               th:title="${samePitch.name}">
                                                <img class="img-responsive"
                                                     th:src="@{/uploads/__${samePitch.avatar}__}"
                                                     th:alt="${samePitch.name}" align="thumbnail">
                                            </a>
                                        </div>
                                        <div class="col-md-12 right-item-san">
                                            <h2><a th:href="@{/pitch/detail/__${samePitch.id}__}" class="item-name-link">
                                                <th:block th:text="${samePitch.name}"></th:block>
                                            </a></h2>
                                            <p>
                                                <i class="fa fa-map-o" aria-hidden="true"></i>
                                                <th:block th:text="${samePitch.address + ', ' + samePitch.district.name}"></th:block>
                                            </p>
                                            <div th:each="groupPitches:${samePitch.groupSpecificPitches}">
                                                <p><strong th:text="${'Giá thuê sân ' + groupPitches.pitchType.name}"></strong></p>
                                                <p th:each="pitchesCost:${groupPitches.specificPitchesCosts}">
                                                    <th:block th:text="${pitchesCost.fromTime + ' - ' + pitchesCost.toTime + ', ' + pitchesCost.groupDays.name}"></th:block>
                                                    <span class="price-san"><th:block th:text="${pitchesCost.getCostCommafy()}"></th:block><sup>vnđ</sup></span>
                                                </p>
                                            </div>

                                            <p class="phone-numb"><i class="fa fa-phone-square" aria-hidden="true"></i>
                                                <th:block th:text="${samePitch.phoneNumber}"></th:block></p>

                                            <a th:href="@{/pitch/detail/__${samePitch.id}__}"
                                               th:title="${samePitch.name}" class="btn-chi-tiet"><i
                                                    class="fa fa-long-arrow-right" aria-hidden="true"></i> Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pitch-booking" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đặt sân</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group row hide">
                        <input type="text" id="pitchesCostIdBooking" readonly
                               class="form-control input-sm">
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;">Thời gian</label>
                        <div class="col-md-4">
                            <input type="text" id="timeBooking" readonly
                                   class="form-control input-sm" placeholder="Thời gian">
                        </div>
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;"> &nbsp;Ngày</label>
                        <div class="col-md-4">
                            <input type="text" id="dateBooking" readonly
                                   class="form-control input-sm" placeholder="Ngày">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;">Loại sân</label>
                        <div class="col-md-4">
                            <input type="text" id="pitchType" readonly
                                   class="form-control input-sm">
                        </div>
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;"> &nbsp;Giá (VND)</label>
                        <div class="col-md-4">
                            <input type="text" id="cost" readonly
                                   class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;">Người đặt</label>
                        <div class="col-md-10">
                            <input type="text" id="orderName" placeholder="Nhập tên người đặt/ đội bóng"
                                   class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;">Điện thoại</label>
                        <div class="col-md-10">
                            <input type="text" id="orderPhone" placeholder="Nhập số điện thoại"
                                   class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="font-weight: bold; margin-top: 5px;">Ghi chú</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="content" placeholder="Ghi chú" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-submit-booking" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>

    </div>
</div>
<footer class="footer" th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/modals::modals"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASntcyyk_Av4IxlJ3IE72AIQPOBld0fKo&sensor=false"></script>
<script th:src="@{/js/my-custom/publicPitch.js}"></script>
<script th:inline="javascript">
    var lat = /*[[${pitch.latitude}]]*/;
    var lng = /*[[${pitch.longitude}]]*/;
    var latlng = new google.maps.LatLng(lat, lng);
    var map = new google.maps.Map(document.getElementById('map'), {
        center: latlng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: 'Location of the pitch',
        draggable: true
    });
</script>
</body>
</html>
