<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="mobile-app-false ng-scope" data-gr-c-s-loaded="true">
<div th:replace="fragments/header::header"></div>

<div class="breadcrum">
    <div class="container">
        <div class="breadcrum-line">
            <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
            <a th:href="@{/pitch/management}"><i class="fa fa-angle-right"></i>&nbsp; Danh sách sân</a>
            <a class=""><i class="fa fa-angle-right"></i>&nbsp;
                <th:block th:if="${pitch != null}" th:text="${pitch.name}"></th:block></a>
        </div>
    </div>
</div>
<div class="content-wrap stadium-managment-page ng-scope">
    <div class="container">
        <div class="content-cts">
            <div class="item-card">
                <div class="row">
                    <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">

                        <ul id="createTab" class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    &nbsp;&nbsp;Thông tin sân
                                </a>
                            </li>
                            </li>

                            <li>
                                <a th:href="@{/pitch/management/pitch-prices/__${pitch.id}__}">
                                    <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;Giá thuê sân
                                </a>
                            </li>

                            <li>
                                <a>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    Quản lý
                                </a>
                            </li>
                        </ul>
                        <div id="createUpdateStadiumTabContent1" class="tab-content">
                            <div class="tab-pane fade active in" id="detailManager">
                                <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                    <div th:class="${'alert msg-noti alert-' + type}" style="text-align: center">
                                        <strong th:text="${msg.message}"></strong>
                                    </div>
                                </th:block>
                                <th:block th:if="${pitch != null}">
                                    <form name="frmStadiumInfo"
                                          th:action="@{/pitch/management/pitch-info/edit}" method="post" enctype="multipart/form-data">
                                        <div class="col-md-12">

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label"><strong>Thông tin cơ
                                                    bản</strong></label>
                                            </div>
                                            <div class="form-group row hide">
                                                <label class="col-md-3 col-form-label">ID sân</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="id" th:value="${pitch.id}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Tên sân</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="name" style="font-weight:bold" th:value="${pitch.name}"
                                                           placeholder="Nhập tên sân" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Giới thiệu ngắn</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="introduction" th:text="${pitch.introduction}"
                                                              placeholder="Giới thiệu ngắn" rows="3" required></textarea>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Mô tả cụ thể</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="detailDescription" th:text="${pitch.detailDescription}"
                                                              id="content" rows="10"></textarea>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Mặt sân</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" name="yardSurfaceId">
                                                        <th:block th:if="${#lists.isEmpty(listSurfaces)}">
                                                            <option value="?">Không có dữ liệu!</option>
                                                        </th:block>
                                                        <th:block th:unless="${#lists.isEmpty(listSurfaces)}">
                                                            <option th:each="surface,iterStat:${listSurfaces}"
                                                                    th:text="${surface.name}" th:value="${surface.id}"
                                                                    th:selected="${surface.id == pitch.yardSurface.id ? true : false}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="clear-bordered"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label"><strong>Địa chỉ</strong></label>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Quận / huyện</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" name="districtId">
                                                        <th:block th:if="${#lists.isEmpty(listDistricts)}">
                                                            <option value="?">Không có dữ liệu!</option>
                                                        </th:block>
                                                        <th:block th:unless="${#lists.isEmpty(listDistricts)}">
                                                            <option th:each="district,iterStat:${listDistricts}"
                                                                    th:text="${district.name}" th:value="${district.id}"
                                                                    th:selected="${district.id == pitch.district.id ? true : false}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Số nhà / ngõ / tên đường</label>
                                                <div class="col-md-5">
                                                    <input required placeholder="Địa chỉ sân" th:value="${pitch.address}"
                                                           class="form-control" name="address">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Bản đồ</label>
                                                <div class="col-md-5">
                                                    <label class="control-label">Vị trí trên bản đồ
                                                        <img class="google-map-icon" height="20"
                                                             th:src="@{/images/gg-map-icon.png}"
                                                             data-toggle="modal" data-target="#mapModal"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Latitude</label>
                                                <div class="col-md-5">
                                                    <input name="latitude" id="latitude"
                                                           class="form-control" th:value="${pitch.latitude}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Longitude</label>
                                                <div class="col-md-5">
                                                    <input name="longitude" id="longitude"
                                                           class="form-control" th:value="${pitch.longitude}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="clear-bordered"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label"><strong>Thông tin liên
                                                    hệ</strong></label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Điện thoại</label>
                                                <div class="col-md-5">
                                                    <input placeholder="Điện thoại liên hệ đặt sân" name="phoneNumber"
                                                           class="form-control" required th:value="${pitch.phoneNumber}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Địa chỉ email</label>
                                                <div class="col-md-5">
                                                    <input class="form-control" name="email" th:value="${pitch.email}"
                                                           placeholder="Địa chỉ email">

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Facebook</label>
                                                <div class="col-md-5">
                                                    <input placeholder="Địa chỉ facebook" name="facebook"
                                                           class="form-control" th:value="${pitch.facebook}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="clear-bordered"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 control-label"><strong>Hình ảnh sân</strong></label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">Ảnh đại diện</label>
                                                <div class="col-md-5">
                                                    <img id="avatarImg" height="200" width="250" th:src="@{/uploads/__${pitch.avatar}__}" />
                                                    <input id="fileAvatar" type="file" name="imgAvatar">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="clear-bordered"></div>
                                            </div>

                                            <div class="form-group row" style="margin-top:30px">
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-9 text-right">

                                                    <a class="btn btn-default" th:href="@{/pitch/management}">Quay lại</a>
                                                    &nbsp;
                                                    <button type="submit" id="btnCreateStadium"
                                                            data-loading-text="&lt;i class=&#39;fa fa-spinner fa-spin &#39;&gt;&lt;/i&gt; Đang xử lý..."
                                                            class="btn btn-primary btn-primary-extra ng-scope">
                                                        <i class="fa fa-save"></i>
                                                        Cập nhật
                                                    </button>

                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="mapModal" class="modal modal-styled fade">
                <div class="modal-dialog modal-lg">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title">Chọn vị trí bản đồ</h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm-12">
                                <div class="form-group col-md-12">
                                    <!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">-->
                                    <div id="map" style="height: 500px"></div>
                                </div>
                            </div>
                        </div> <!-- /.modal-body -->
                        <div class="modal-footer">
                            <span style="margin-left:30px;" class="pull-left"><b>Lat:</b><span
                                    class="lat">21.026939</span></span>
                            <span style="margin-left:15px;" class="pull-left"><b>Long:</b><span
                                    class="long">105.833358</span></span>
                            <button type="button" class="btn btn-primary btn-choose-map" data-dismiss="modal">Chọn</button>
                            <button type="button" class="btn btn-default close" data-dismiss="modal">Thoát</button>
                        </div> <!-- /.modal-footer -->
                    </div> <!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div>
        </div> <!-- /.tab-pane -->

        <div class="tab-pane fade" id="stadiumCalendar">

        </div> <!-- /.tab-pane -->
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASntcyyk_Av4IxlJ3IE72AIQPOBld0fKo&sensor=false"></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.31&key=AIzaSyASntcyyk_Av4IxlJ3IE72AIQPOBld0fKo&libraries=places&callback=initAutocomplete"-->
        <!--async defer></script>-->
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script th:src="@{/ckfinder/ckfinder.js}"></script>
<script th:src="@{/js/my-custom/ggmap.js}"></script>
<script th:src="@{/js/my-custom/pitch.js}"></script>
<script th:src="@{/js/my-custom/ckeditor.js}"></script>
</body>
</html>