<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="mobile-app-false ng-scope" data-gr-c-s-loaded="true">
<div th:replace="fragments/header::header"></div>

<div ng-view="" class="ng-scope" style="">
    <div class="breadcrum ng-scope">
        <div class="container">
            <div class="breadcrum-line">
                <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
                <a th:href="@{/pitch/manage}"><i class="fa fa-angle-right"></i>&nbsp; Danh sách sân</a>
            </div>
        </div>
    </div>
    <div class="content-wrap stadium-managment-page ng-scope">
        <div class="container">
            <div class="item-card">
                <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li>
                            <a href="">
                                <i class="fa fa-list"></i>
                                Yêu cầu đặt sân
                                <b class="badge badge-primary" style="background-color:red">0</b>
                            </a>
                        </li>

                        <li class="active">
                            <a th:href="@{/pitch/manage}">
                                <i class="fa fa-list"></i>
                                Danh sách sân
                            </a>
                        </li>
                    </ul>
                    <div id="stadiumListTabContent" class="tab-content">
                        <div class="tab-pane fade" id="booking">

                        </div>

                        <div class="tab-pane fade active in" id="#/stadium">
                            <div id="listStadium" style="min-height:250px; position:relative">
                                <div class="pull-right" style="margin-bottom:30px;">
                                    <div class="dropdown">
                                        <a class="btn btn-primary btn-primary-extra"
                                           th:href="@{/pitch/management/create}">
                                            <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;&nbsp;Tạo sân mới
                                        </a>
                                    </div>
                                </div>
                                <th:block th:unless="${#lists.isEmpty(pitches)}">
                                    <table class="table table-striped table-responsive table-stadium-list ng-scope">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th width="80">Loại</th>
                                            <th>Thông tin sân</th>
                                            <th>Ảnh đại diện</th>
                                            <th align="right" style="text-align:right">Tác vụ</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="pitch,iterStat:${pitches}">
                                            <td th:text="${iterStat.count}">1</td>
                                            <td>
                                                <span>Bóng đá</span>
                                            </td>
                                            <td>
                                                <a th:href="@{/pitch/management/pitch-info/__${pitch.id}__}">
                                                    <strong th:text="${pitch.name}">Viktor</strong>
                                                </a>
                                                <div>
                                                    <i class="fa fa-map-o"></i>
                                                    <th:block th:text="${pitch.address + ', ' + pitch.district.name}"></th:block>
                                                </div>
                                                <div>
                                                    <i class="fa fa-phone-square"></i>
                                                    <a th:text="${pitch.phoneNumber}"></a>
                                                </div>
                                                <div>
                                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                    <a th:text="${pitch.facebook}"> fb.com/viktor</a>
                                                </div>
                                                <div>
                                                    <i class="fa fa-envelope-o"></i>
                                                    <a th:text="${pitch.email}">hoangthien@thien.com</a>
                                                </div>

                                            </td>
                                            <td>
                                                <img height="120" th:src="@{/uploads/__${pitch.avatar}__}">
                                            </td>

                                            <td align="right" style="text-align:right">
                                                <div class="form-group">
                                                    <a th:href="@{/pitch/management/pitch-bookings/__${pitch.id}__}"
                                                       class="btn btn-info btn-sm" style="width:130px">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i> Đặt sân
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-default btn-sm" title="Chỉnh sửa"
                                                       style="width:130px"
                                                       th:href="@{/pitch/management/pitch-info/__${pitch.id}__}">
                                                        <i class="fa fa-pencil"></i> Sửa thông tin
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-danger btn-sm ng-scope"
                                                       confirmation-needed="Bạn có chắc chắn muốn ngưng hoạt động Viktor?"
                                                       title="Ngưng hoạt động">
                                                        <i class="fa fa-ban"></i> Dừng
                                                    </a>
                                                    <a class="btn btn-danger btn-sm"
                                                       confirmation-needed="Bạn có chắc chắn muốn xóa Viktor?"
                                                       title="Xóa">
                                                        <i class="fa fa-remove"></i> Xóa
                                                    </a>
                                                </div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script th:src="@{/js/my-custom/pitch.js}"></script>
</body>
</html>