<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="mobile-app-false ng-scope" data-gr-c-s-loaded="true">
<div th:replace="fragments/header::header"></div>

<div ng-view="" class="ng-scope" style="">
    <div class="breadcrum ng-scope">
        <div class="container">
            <div class="breadcrum-line">
                <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
                <a th:href="@{/pitch/management}"><i class="fa fa-angle-right"></i>&nbsp; Danh sách sân</a>
                <a th:href="@{/pitch/management/pitch-info/__${pitchId}__}"><i class="fa fa-angle-right"></i>&nbsp;
                    <th:block th:if="${pitchName != null}" th:text="${pitchName}"></th:block></a>
                <a><i class="fa fa-angle-right"></i>&nbsp; Quản lý giá</a>
            </div>
        </div>
    </div>

    <div class="content-wrap stadium-managment-page ng-scope">
        <div class="container">
            <div class="content-cts">
                <div class="item-card">
                    <div class="row">
                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li>
                                    <a th:href="@{/pitch/management/pitch-info/__${pitchId}__}">
                                        <i class="fa fa-info-circle"></i>
                                        Thông tin sân
                                    </a>
                                </li>

                                <li class="active">
                                    <a>
                                        <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;Giá thuê sân
                                    </a>
                                </li>

                                <li>
                                    <a th:href="@{/pitch/management/pitch-bookings/__${pitchId}__}">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        Quản lý
                                    </a>
                                </li>
                            </ul>
                            <div id="myTab1Content" class="tab-content stadium-booking-manager">

                                <div class="tab-pane fade active in" id="#/calendar"
                                     style="overflow:hidden;padding:5px;">
                                    <div class="content-fl ng-scope pitches-content-page">
                                        <div class="row ng-scope" th:unless="${#lists.isEmpty(pitchTypeList)}"
                                             id="add-group-pitches-area">
                                            <div class="col-md-12">
                                                <a href="javascript:void(0);" id="a-add-pitches">
                                                    <i class="fa fa-plus"></i>
                                                    Thêm sân
                                                </a>
                                            </div>
                                            <form id="form-add-pitches" style="display: none">
                                                <label class="hide pitch-id" th:text="${pitchId}"></label>
                                                <div class="col-sm-4 form-group">
                                                    <select class="form-control" id="select-pitch-type">
                                                        <option th:each="type,iterStat:${pitchTypeList}"
                                                                th:text="${type.name}"
                                                                th:value="${type.id}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4 form-inline">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="100" id="number"
                                                               class="form-control input-sm" placeholder="Số lượng">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-default btn-sm btn-add-pitches"
                                                                type="button" title="Thêm">
                                                            Thêm sân &gt;&gt;
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <th:block th:unless="${#lists.isEmpty(specificPitches)}">
                                            <div th:each="pitches,iterStat:${specificPitches}" class="snp-settings" th:id="${'area-table-' + pitches.id}">

                                                <div class="sn-settings-top row">
                                                    <div class="col-md-12 ng-scope">
                                                        <div class="sn-settings-bar">
                                                            <div class="pull-left sn-settings-name">
                                                                <span style="float: left;margin-top: 3px; margin-right:30px;" th:id="${'pitches-span-' + pitches.id}">
                                                                    <i class="fa fa-check-square"></i>
                                                                    <th:block
                                                                            th:text="${'Loại sân: ' + pitches.pitchType.name + ' (' + pitches.childPitches.size() + ' sân)'}"></th:block>
                                                                </span>
                                                                <div class="btn-group pull-right mobile-float-none" style="margin-top:3px">
                                                                    <a class="pointer add-price" data-toggle="modal" data-target="#addOrEditPrice" th:onclick="'javascript:addPrice('+ ${pitches.id} +')'">
                                                                        <i class="fa fa-database"></i> &nbsp;Thêm giá</a>
                                                                    &nbsp;
                                                                    <a class="pointer" data-toggle="modal" data-target="#changeNumberModal" th:onclick="'javascript:passPitchesIdToModal('+ ${pitches.id + ',' + pitches.childPitches.size()} +')'">
                                                                        <i class="fa fa-pencil"></i> &nbsp;Thay đổi số lượng</a>
                                                                    &nbsp;
                                                                    <a class="pointer" th:onclick="'javascript:deletePitches('+ ${pitches.id} +')'"><i class="fa fa-remove"></i> &nbsp;Xóa</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="stadium-number-prices">
                                                    <table class="table table-bordered text-left table-responsive stadium-number-price-table" th:id="${'table-' + pitches.id}">
                                                        <thead>
                                                        <tr>
                                                            <th style="min-width:222px;">
                                                                Khung giờ
                                                            </th>
                                                            <th>
                                                                Ngày trong tuần
                                                            </th>
                                                            <th>
                                                                Giá (VND)
                                                            </th>
                                                            <th>Hành động</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:unless="${#lists.isEmpty(pitches.specificPitchesCosts)}" th:each="cost,iterStat:${pitches.specificPitchesCosts}"
                                                            th:class="${cost.id}" th:id="${'tr-' + cost.id}">
                                                            <td class="sn-price-time-td">
                                                                <div class="form-inline md-table">
                                                                    <div class="input-group input-time-sm fromTime">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-clock-o"></i>
                                                                    </span>
                                                                        <input class="form-control input-sm" name="fromTimeView" th:value="${cost.fromTime}" readonly placeholder="Bắt đầu">
                                                                    </div>
                                                                    <span>&nbsp; - &nbsp;</span>
                                                                    <div class="input-group input-time-sm toTime">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-clock-o"></i>
                                                                    </span>
                                                                        <input class="form-control input-sm" name="toTimeView" th:value="${cost.toTime}" readonly placeholder="Kết thúc">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="sn-price-day-picker" th:text="${cost.groupDays.name}"></td>
                                                            <td class="sn-price-price-td">
                                                                <input min="0" type="number" th:value="${cost.cost}" readonly name="costView"
                                                                    class="form-control input-sm">
                                                            </td>
                                                            <td class="sn-price-delete-td">
                                                                <a class="btn btn-default btn-sm edit-price" data-toggle="modal" data-target="#addOrEditPrice" title="Chỉnh sửa giá">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a class="btn btn-default btn-sm del-price" title="Xóa giá">
                                                                    <i class="fa fa-remove"></i>
                                                                </a>
                                                            </td>
                                                            <td class="costId hide" th:text="${cost.id}"></td>
                                                            <td class="pitchesId hide" th:text="${pitches.id}"></td>
                                                            <td class="daysId hide" th:text="${cost.groupDays.id}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </th:block>

                                        <div class="content-fl text-right bottom-pitches-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="changeNumberModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thay đổi số lượng sân</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-group row hide">
                                    <div class="col-md-8">
                                        <input type="number" id="pitchesIdChange" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" style="font-weight: bold; margin-top: 5px;">Số lượng sân</label>
                                    <div class="col-md-8">
                                        <input type="number" min="1" max="100" id="numberChange" required
                                               class="form-control input-sm" placeholder="Số lượng">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success btn-change-number" data-dismiss="modal">Submit</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="addOrEditPrice" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title title-price-form">Thêm giá</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-group row hide">
                                    <div class="col-md-6">
                                        <input type="number" name="pitchesId" id="pitchesIdForm" class="form-control input-sm">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="costId" id="costIdForm" class="form-control input-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" style="font-weight: bold; margin-top: 5px;">Khung giờ</label>
                                    <div class="col-md-8 form-inline">
                                        <div class="input-group input-time-sm">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <select class="form-control input-sm" name="fromTime" id="select-from-time">
                                                <th:block th:if="${#lists.isEmpty(listTimeFrame)}">
                                                    <option value="?">Không có dữ liệu!</option>
                                                </th:block>
                                                <th:block th:unless="${#lists.isEmpty(listTimeFrame)}">
                                                    <option th:each="time,iterStat:${listTimeFrame}"
                                                            th:text="${time}" th:value="${time}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <span>&nbsp; - &nbsp;</span>
                                        <div class="input-group  input-time-sm">
                                            <span class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                                            <select class="form-control input-sm" name="toTime" id="select-to-time">
                                                <th:block th:if="${#lists.isEmpty(listTimeFrame)}">
                                                    <option value="?">Không có dữ liệu!</option>
                                                </th:block>
                                                <th:block th:unless="${#lists.isEmpty(listTimeFrame)}">
                                                    <option th:each="time,iterStat:${listTimeFrame}"
                                                            th:text="${time}" th:value="${time}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" style="font-weight: bold; margin-top: 5px;">Ngày trong tuần</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline"
                                               th:each="days,iterStat:${groupDaysList}">
                                            <input type="radio" name="groupDaysIdForm"
                                                   class="margin-top-2" th:value="${days.id}"
                                                   th:text="${' ' + days.name}">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" style="font-weight: bold; margin-top: 5px;">Giá (VND)</label>
                                    <div class="col-md-8">
                                        <input type="number" min="0" id="priceForm"
                                               class="form-control input-sm" placeholder="Giá">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success btn-add-edit-cost" data-dismiss="modal">Submit</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script th:src="@{/js/my-custom/pitch.js}"></script>
</body>
</html>