<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-2 col-md-3 col-1-footer">
            <a href="#" class="footer-logo"><img class="img-responsive" th:src="@{/images/logo-gray.png}"
                                                 align="logo tim doi nhanh"></a>
            <div class="login-social-footer">
                <a class="" href="javascript:void(0)">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a class="" href="javascript:void(0)">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 intro">
            <ul>
                <li>
                    <h5>TìmĐốiNhanh.COM</h5>
                </li>

                <li>
                    <a href="mailto:timdoinhanh.com@gmail.com">
                        <span>
                            <i class="fa fa-envelope-o"></i>
                            timdoinhanh.com@gmail.com
                        </span>
                    </a>
                </li>
                <li>
                </li>
                <li>
                    <a href="https://www.facebook.com/timdoinhanh" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                            Facebook
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/timdoinhanh" target="_blank">
                        <span>
                            <i class="fa fa-youtube-play"></i>
                            Youtube
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 info">
            <ul>
                <li>
                    <h5>Thông tin</h5>
                </li>
                <li>
                    <a href="/gioi-thieu.html">
                        <span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Giới thiệu
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tien-ich.html">
                        <span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Tiện ích
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/dieu-khoan-su-dung.html">
                        <span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Điều khoản sử dụng
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/chinh-sach-bao-mat.html">
                        <span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Chính sách bảo mật
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 mobile-app">
            <ul>
                <li>
                    <h5>
                        Ứng dụng
                    </h5>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/images/app-store.png}" class="app-store"/>
                    </a>
                    <a href="">
                        <img th:src="@{/images/ch-play.png}" class="ch-play"/>
                    </a>
                </li>
                <li>
                    <p>
                        Hãy tải ngay ứng dụng TimDoiNhanh <strong>miễn phí</strong> vào điện thoại của bạn để cập nhật
                        thông tin nhanh nhất, mọi lúc, mọi nơi.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>