<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-32x32.png}" sizes="32x32">
    <!--<link rel="icon" type="image/png" th:href="@{/images/favicon-16x16.png}" sizes="16x16">-->
    <link rel="icon" type="image/png" th:href="@{/images/favicon-96x96.png}" sizes="96x96">
    <link rel="manifest" th:href="@{/images/manifest.json}">
    <link rel="mask-icon" th:href="@{/images/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!--Booking verify-->
    <meta name="B-verify" content="04bdaaddca34266cf70ff8a7946fb9c26505fe05"/>


    <meta property="og:title" content="Tìm đối đá bóng, đặt sân trực tuyến - Book and Kick"/>
    <meta property="og:description"
          content="Cung cấp các tiện ích thông minh cho việc tìm đối đá bóng, đặt sân hiệu quả. Tổng hợp danh sách tìm đối tại các quận/ huyện ở Đà Nẵng."/>
    <meta property="og:image" itemprop="image primaryImageOfPage" content="@{/images/timdoinhanh-min.png}"/>


    <title>Tìm đối đá bóng, đặt sân trực tuyến - Book and Kick</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <meta name="description"
          content="Cung cấp các tiện ích thông minh cho việc tìm đối đá bóng, đặt sân hiệu quả. Tổng hợp danh sách tìm đối tại các quận / huyện ở Đà Nẵng."/>
    <meta name="keywords"
          content="Tìm đối đá bóng, tìm đối gấp, đội bóng tại Đà Nẵng, phần mềm quản lý sân bóng"/>


    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>

    <!--Stylesheets-->
    <link th:href="@{/css/plugins.css?v=Ahqo92Qjg_5hNgokcNbdDKqsKgb-VMnRUm9SH4imTUk1}" rel="stylesheet"/>

    <link th:href="@{/css/main.css?v=RwDoE9XGqem7Sr734GLhRvhyCWNYEeCfNpMFQ5ZZx_41}" rel="stylesheet"/>

    <link th:href="@{/css/myCustom.css}" rel="stylesheet"/>

    <!--Libraries-->
    <script th:src="@{/js/libs.js}"></script>

    <script th:src="@{/js/firebase.js}"></script>


    <!--angularjs ui-select-->
    <link th:href="@{/css/ui-select.css?v=RJBwKvQnmD4rGTsXquzpUKTBdS5YnyDb5u0OMMZ_kas1}" rel="stylesheet"/>

    <script th:src="@{/js/ui-select.js}"></script>


    <!--angularjs moment-picker-->
    <link th:href="@{/js/moment-picker.css?v=hpNcxpWioY99YYUxBpNgkzo56BZ4qMwXBi1z4b_d-rE1}" rel="stylesheet"/>

    <script th:src="@{/js/moment-picker.js}"></script>

    <script>
        var sportApp = angular.module('sportApp', [
            'ui.bootstrap',
            'autocomplete',
            'ngRoute',
            'ngAnimate',
            'firebase',
            'ui.select',
            'ngSanitize',
            //'mwl.calendar',
            'moment-picker',
            'ui.utils.masks']);

        sportApp.factory('httpRequestInterceptor', function ($q, $location) {
            return {
                'responseError': function (rejection) {
                    // do something on error
                    if (rejection.status === 404) {
                        $location.path('/404/');
                    } else if (rejection.status === 401) {
                        alert('Có lỗi xảy ra trong quá trình tải dữ liệu, vui lòng đăng nhập lại');
                        location.href = '/dang-nhap.html';
                    }
                    return $q.reject(rejection);
                }
            };
        });
    </script>
    <!--<script type="text/javascript" th:src="Angular/js/angularHelper.js"></script>-->
    <script th:src="@{/js/common.js}"></script>

    <script th:src="@{/js/directives.js}"></script>

    <script th:src="@{/js/services.js}"></script>

    <script th:src="@{/js/controllers.js}"></script>

    <script th:src="@{/js/custom.js}"></script>

    <script th:src="@{/js/filters.js}"></script>

    <script th:src="@{/js/countUp.js}"></script>


    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>

</body>
</html>