<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div id="fb-root"></div>
    <div id="loadingBar" class="load-bar hidden">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <header class="n-nav navbar" role="banner">
        <div class="container">
            <div class="navbar-header">
                <span id="btn-left-sidebar" class="only-mobile-btn"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <a class="logo-top" href="/" title="Book And Kick">
                    <img th:src="@{/images/bk_logo_header.jpg}" alt="Book And Kick">
                </a>
                <span id="btn-right-sidebar" class="only-mobile-btn btn-right-user" ng-controller="NotificationCtrl">
            <i class="fa fa-user" aria-hidden="true"></i>
            <b class="badge badge-primary bg-red" style="display:none" ng-class="{'ngloaded-inline':notiItemCount!=''}">{{ notiItemCount }}</b>
        </span>
            </div> <!-- /.navbar-header -->
            <nav class="mobi-none" role="navigation">
                <ul class="nav navbar-nav navbar-right" ng-controller="NotificationCtrl">
                    <li>
                        <a href="/exchange/waiting/all" title="Tìm đối đá bóng">
                            <i class="fa fa-search" aria-hidden="true"></i>&nbsp; Tìm đối nhanh</a>
                        <ul class="navbar-nav-dropdown">
                            <li class="navbar-match-finding">
                                <a href="/exchange/waiting/all" title="Đối đang chờ">
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    Đối đang chờ
                                </a>
                            </li>
                            <li class="navbar-invite">
                                <a href="/exchange/create">
                                    <i class="fa fa-beer"></i>
                                    Mời đối giao lưu
                                </a>
                            </li>

                            <li style="display:none">View more</li>

                        </ul>
                    </li>
                    <li class="navbar-stadium">
                        <a href="/pitch/all" title="Sân cỏ nhân tạo, Sân 5 người, 7 người...">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>Đặt sân nhanh</a>
                        <ul class="navbar-nav-dropdown">
                            <li th:each="district:${districts}">
                                <a th:href="@{/pitch/__${district.path}__}">
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    <th:block th:text="${'Sân bóng tại ' + district.name}"></th:block>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/team/search" title="Danh sách các đội bóng, tạo đội bóng">
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp; Đội bóng</a>
                        <ul class="navbar-nav-dropdown">
                            <li class="navbar-team">
                                <a href="/team/search" title="Danh sách các đội bóng">
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    Danh sách đội bóng
                                </a>
                            </li>
                            <li class="navbar-invite">
                                <a href="/team/create">
                                    <i class="fa fa-plus-square-o"></i>
                                    Tạo đội bóng mới
                                </a>
                            </li>

                            <li style="display:none">View more</li>

                        </ul>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a href="/" id="loginBtn">
                            Đăng nhập
                        </a>
                    </li>

                    <th:block sec:authorize="isAuthenticated()">
                        <li class="dropdown navbar-notification">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell navbar-notification-icon"></i>
                                <span class="visible-xs-inline">&nbsp;Notifications</span>
                                <b class="badge badge-primary badge-total-new" th:if="${newNotifications > 0}" th:text="${newNotifications}"></b>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">Thông báo</div>
                                <div class="notification-list scrollbar-enabled">
                                    <div class="force-overflow">
                                        <div th:each="noti:${notifications}" th:class="${'notification ' + (noti.seen? '':'notification-not-seen')}"
                                             th:onclick="'javascript:seeNotification('+ ${noti.id} +')'" th:id="${'noti-'+noti.id}">
                                            <div class="notification-icon">
                                                <a th:href="@{__${noti.link}__}">
                                                    <img th:src="@{/uploads/__${noti.icon}__}" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a th:href="@{__${noti.link}__}" class="notification-description">
                                                    <span class="name" th:text="${noti.name}"></span>
                                                    <th:block th:text="${noti.content}"></th:block>
                                                </a>
                                                <span class="notification-time" th:text="${noti.getTimeString()}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- / .notification-list -->
                                <a href="/notification/history"
                                   class="notification-link-all text-center">Xem tất cả</a>
                            </div> <!-- / .dropdown-menu -->
                        </li>

                        <li class="dropdown navbar-profile" style="margin-right: 80px">

                            <a class="dropdown-toggle user-menu" data-toggle="dropdown" href="javascript:;">
                                <img th:src="@{/images/default-user.png}"
                                     class="navbar-profile-avatar" alt="">
                                <span class="visible-xs-inline user-name" style="text-transform: none;"
                                      th:text="${#authentication.name}">User &nbsp;</span>
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="navbar-nav-dropdown" role="menu">

                                <li>
                                    <a th:href="@{/user/profile}">
                                        <i class="fa fa-user"></i>
                                        Thông tin tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/invitation-history">
                                        <i class="fa fa-envelope-o"></i>
                                        Lời mời giao lưu
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/booking-history">
                                        <i class="fa fa-history"></i>
                                        Lịch sử đặt sân
                                    </a>
                                </li>
                                <li>
                                    <a href="/team/my-teams">
                                        <i class="fa fa-futbol-o"></i>
                                        Đội bóng của tôi
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/pitch/management}">
                                        <i class="fa fa-th-large"></i>
                                        Sân bóng của tôi
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                                <li style="display:none"></li>
                            </ul>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div> <!-- /.container -->
    </header>
</div>
</body>
</html>