<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modals">
    <div class="copyright">
        <div class="container">
            <p>Copyright © 2019. All rights reserved</p>
        </div>
    </div>
    <a href="javascript:void(0)" class="back-to-top" style="display: none;"
        id="goTopBtn" onclick="topFunction()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <div id="divAjaxLoadingRequest" style="display:none">
    </div>
    <a id="layout_modal_button" class="hidden" data-toggle="modal" role="button" href="javascript:void(0);"
       data-target="#"></a>
    <!-- modal info -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                document.getElementById("goTopBtn").style.display = "block";
            } else {
                document.getElementById("goTopBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        }
    </script>
    <script th:src="@{/js/my-custom/common.js}"></script>
</div>
</body>
</html>