<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="page-custompage ">

<div th:replace="fragments/header::header"></div>

<div class="breadcrum">
    <div class="container">
        <div class="breadcrum-line">
            <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
            <a><i class="fa fa-angle-right"></i>&nbsp; Tạo trận đấu</a>
        </div>
    </div>
</div>
<div class="content-wrap">
    <div class="container">
        <div class="row mobile-padlr-15">
            <div class="col-md-9 sidebar">
                <div class="heading-block">
                    <p class="title-box ng-scope"><i class="fa fa-futbol-o" aria-hidden="true"></i> Tạo trận đấu</p>
                </div>

                <div>
                    <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                        <div th:class="${'alert msg-noti alert-' + type}" style="text-align: center">
                            <strong th:text="${msg.message}"></strong>
                        </div>
                    </th:block>
                    <form class="form-horizontal" name="matchPostForm" action="/exchange/create" method="post">
                        <div id="makermatchRequest">
                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-3">Ngày: <span class="required">*</span></label>
                                <div class="col-sm-4 form-group">
                                    <input type="date" id="select-date-exchange" name="date"
                                           th:value="${dateDefault}" style="padding: 2px; margin-left: 15px">
                                    <input type="time" name="time" style="padding: 2px" value="16:00"
                                           min="5:00" max="22:00" required>
                                </div>
                                <div class="col-sm-5 form-inline">
                                    <h4 id="date-show">Today</h4>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-3">Đội bóng: <span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <div style="margin-bottom: 5px;">
                                        <select required class="form-control" name="teamId">
                                            <th:block  th:each="team:${teams}">
                                            <option th:label="${team.name}" th:value="${team.id}"></option>
                                            </th:block>
                                            <th:block th:if="${#lists.isEmpty(teams)}">
                                                <option value="0">Không có đội bóng nào để chọn! Vui lòng tạo đội bóng mới!</option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div style="margin-top: 10px" th:if="${#lists.isEmpty(teams)}">
                                        <a href="/team/create" class="button btn-danger btn-sm">Tạo đội bóng mới</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    Loại hình: <span class="required">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <label class="control-label pull-left" style="margin-right: 20px">
                                        <input type="radio" id="modalCbxHasStadium" value="1" name="hasPitch" checked>
                                        Đã có sân
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" id="modalCbxHasNotStadium" value="0" name="hasPitch">
                                        Đi khách
                                    </label>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-3">Quận / Huyện: <span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="districtId" id="select-district-exchange">
                                        <th:block th:each="district:${districts}">
                                        <option th:value="${district.id}"><th:block th:text="${district.name}"></th:block></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-group-sm ng-scope show-choose-pitch">
                                <label class="control-label col-sm-3">Tên sân: <span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" name="pitchId" id="pitchIdInput" class="hide" value="0">
                                    <b id="showPitchName">Vui lòng chọn sân!</b>
                                    <button class="btn btn-default btn-sm btn-show-pitches" data-toggle="modal" data-target="#modalSelectStadium"
                                            type="button" style="margin-left: 100px">Chọn sân bóng...
                                    </button>
                                </div>
                            </div>

                            <div class="form-group form-group-sm specific-area" style="display: none">
                                <label class="control-label col-sm-3">Khu vực cụ thể:</label>
                                <div class="col-sm-9 mfr-tags-holder">
                                    <input type="text" class="form-control input-sm" name="area" id="areaInput"
                                           placeholder="Ví du: Nguyễn Hữu Thọ, Hòa Khánh Nam...">
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-3">Kèo: <span class="required">*</span></label>
                                <div class="col-sm-9 mfr-tags-holder">
                                    <input type="text" class="form-control input-sm" name="bet" required
                                           placeholder="Ví du: 4-5-6, sân-nước...">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label col-sm-3">Trình độ mong muốn: <span class="required">*</span></label>
                                <div class="col-sm-9 mfr-tags-holder">
                                    <select class="form-control" name="levelId">
                                        <th:block th:each="level:${levels}">
                                        <option th:label="${level.name}" th:value="${level.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Lời mời</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" cols="5" name="invitation"
                                              class="form-control input-sm width-100p"
                                              placeholder="Lời mời giao lưu"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                <span>
                    <span class="required">* </span> Thông tin bắt buộc
                </span>

                                <button class="btn btn-primary btn-primary-extra" type="submit">
                                    <i class="fa fa-send"></i>
                                    Đăng
                                </button>

                            </div>
                        </div>
                    </form>

                    <div id="modalSelectStadium" class="modal modal-styled fade" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="title-choose-pitch">Chọn sân bóng</h4>
                                </div>
                                <div class="modal-body" id="modal-choose-pitch">

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Thoát
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script th:src="@{/js/my-custom/team.js}"></script>
</body>
</html>
