<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body ng-app="sportApp" class="mobile-app-false team-detail-body">
<div th:replace="fragments/header::header"></div>


<div class="top-banner-box top-banner-box-doi">
    <div class="container">
        <p class="page-title"></p>
        <div class="team-banner-btn-container">
            <a class="btn btn-info btn-sm modal-link-angularjs">
                <i class="fa fa-send-o"></i>
                Tham gia đội bóng
            </a>
        </div>
    </div>
</div>
<div class="tabs-chi-tiet-doi">
    <div class="container">
        <div class="img-doio">
            <img class="img-responsive" th:src="@{/uploads/__${team.logo}__}" align="thumb" style="height: 100%">
        </div>
        <div class="title-doi">
            <h1 th:text="${team.name}"><span class="gender"><i class="fa fa-mars" aria-hidden="true"></i></span></h1>
            <p class="captain-item" owner-id="4308">
                    <span>
                        <a th:href="@{/user/profile/__${team.captain.id}__}" th:text="${team.captain.fullName}"></a> (đội trưởng)
                    </span>
                <span class="chat-nhanh" ng-click="onQuickChat(4308);"><i class="fa fa-comments" aria-hidden="true"></i> Nói chuyện</span>
            </p>
        </div>
        <div class="wrap-ul-doi">
            <ul class="list-link-doi">
                <li th:class="${tab == 1 ? 'active' : ''}"><a th:href="@{/team/detail/__${team.path}__}">Tìm đối</a>
                </li>
                <li th:class="${tab == 2 ? 'active' : ''}"><a th:href="@{/team/detail/__${team.path}__?tab=2}">Thành
                    viên</a></li>
                <li th:class="${tab == 3 ? 'active' : ''}"><a th:href="@{/team/detail/__${team.path}__?tab=3}">Giới
                    thiệu</a></li>
                <li th:class="${tab == 4 ? 'active' : ''}"><a th:href="@{/team/detail/__${team.path}__?tab=4}">Quỹ
                    bóng</a></li>
                <li th:if="${team.captain.userName.equals(#authentication.name)}">
                    <a th:href="@{/team/edit/__${team.id}__}"><i class="fa fa-gear"></i>&nbsp; Cập nhật thông tin</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="chitiet-doi-left">
                <th:block th:if="${tab == 1}">
                    <div class="content-cts">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="p-content">
                                    <ul class="list-item-san" ng-controller="matchFindingCtrl">
                                        <li class="item-card match-finding-item" idd="78632">
                                            <div class="row">
                                                <div class="col-md-12 right-item-san right-item-doi">
                                                    <h2 class="team-match-headlink">
                                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                        <a href="">20h30 Thứ
                                                            Sáu
                                                            ngày 19/04/2019</a>
                                                    </h2>
                                                    <div class="btn-doi-top pull-right chi-tiet-doi-main btn-doi-inteam">


                                                        <button class="btn btn-sm btn-primary pull-right btn-batdoi modal-link-angularjs"
                                                                data-modal-tpl="match.recipientMaker"
                                                                login-required="true"
                                                                data-modal-qs="toTeamId=16692&toUserId=4308&toMatchId=78632&matchId=78632&teamId=16692&toTeamName=FC Th&#225;i Thuần">
                                                            <i class="fa fa-send" aria-hidden="true"></i> Bắt đối
                                                        </button>


                                                    </div>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Sân
                                                        nhà:</strong><a href="" target="_blank">Sân
                                                        bóng viettel 2 (Sân 7 số 1)</a>
                                                        <span class="price-san">400.000<sup>vnđ</sup> / trận</span>
                                                    </p>
                                                    <p class="item-stadium-address"><i class="fa fa-map-o"
                                                                                       aria-hidden="true"></i><strong>Địa
                                                        chỉ:</strong>Ngõ 155, Ngách 155/206 Trường Chinh - Cầu Phương
                                                        Liệt
                                                        (Quận Thanh Xuân Hà Nội)</p>

                                                    <p class="level-row">
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Trình
                                                        độ:</strong>Trung b&#236;nh
                                                    </p>


                                                    <p class="match-contract">
                                                        <i class="fa fa-shirtsinbulk"
                                                           aria-hidden="true"></i><strong>Kèo:</strong>
                                                        thương lượng
                                                    </p>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i> <strong>Trạng
                                                        thái:</strong>
                                                        <span class="red">Đang chờ</span>
                                                    </p>


                                                    <p class="quost-doi">
                                                        đội mới đá được vài tháng, trình độ trung bình, toàn anh em cùng
                                                        quê, cam kết đá đẹp, rất mong được giao lưu với mọi người, có gì
                                                        alo
                                                        mình Sơn(1995) 0981184403
                                                    </p>


                                                    <div class="mobile-only match-button-container">


                                                        <button class="btn btn-sm btn-primary pull-right btn-batdoi modal-link-angularjs"
                                                                data-modal-tpl="match.recipientMaker"
                                                                login-required="true"
                                                                data-modal-qs="toTeamId=16692&toUserId=4308&toMatchId=78632&matchId=78632&teamId=16692&toTeamName=FC Th&#225;i Thuần">
                                                            <i class="fa fa-send" aria-hidden="true"></i> Bắt đối
                                                        </button>


                                                    </div>


                                                </div>
                                            </div>
                                        </li>

                                        <li class="item-card match-finding-item" idd="78631">
                                            <div class="row">
                                                <div class="col-md-12 right-item-san right-item-doi">
                                                    <h2 class="team-match-headlink">
                                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                        <a href="">17h30 Thứ
                                                            Bảy
                                                            ngày 13/04/2019</a>
                                                    </h2>
                                                    <div class="btn-doi-top pull-right chi-tiet-doi-main btn-doi-inteam">


                                                    </div>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Sân
                                                        nhà:</strong><a href="" target="_blank">Sân
                                                        bóng viettel 2 (Sân 7 số 4)</a>
                                                    </p>
                                                    <p class="item-stadium-address"><i class="fa fa-map-o"
                                                                                       aria-hidden="true"></i><strong>Địa
                                                        chỉ:</strong>Ngõ 155, Ngách 155/206 Trường Chinh - Cầu Phương
                                                        Liệt
                                                        (Quận Thanh Xuân Hà Nội)</p>

                                                    <p class="level-row">
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Trình
                                                        độ:</strong>Trung b&#236;nh
                                                    </p>


                                                    <p class="match-contract">
                                                        <i class="fa fa-shirtsinbulk"
                                                           aria-hidden="true"></i><strong>Kèo:</strong>
                                                        thương lượng tại s&#226;n
                                                    </p>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i> <strong>Trạng
                                                        thái:</strong>
                                                        <span class="red">Đã hủy</span>
                                                    </p>


                                                    <p class="quost-doi">
                                                        đội mới đá được vài tháng, trình độ trung bình, toàn anh em cùng
                                                        quê, cam kết đá đẹp, rất mong được giao lưu với mọi người, có gì
                                                        alo
                                                        mình Sơn(1995) 0981184403
                                                    </p>


                                                    <div class="mobile-only match-button-container">


                                                    </div>


                                                </div>
                                            </div>
                                        </li>

                                        <li class="item-card match-finding-item" idd="78632">
                                            <div class="row">
                                                <div class="col-md-12 right-item-san right-item-doi">
                                                    <h2 class="team-match-headlink">
                                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                        <a href="">20h30 Thứ
                                                            Sáu
                                                            ngày 19/04/2019</a>
                                                    </h2>
                                                    <div class="btn-doi-top pull-right chi-tiet-doi-main btn-doi-inteam">


                                                        <button class="btn btn-sm btn-primary pull-right btn-batdoi modal-link-angularjs"
                                                                data-modal-tpl="match.recipientMaker"
                                                                login-required="true"
                                                                data-modal-qs="toTeamId=16692&toUserId=4308&toMatchId=78632&matchId=78632&teamId=16692&toTeamName=FC Th&#225;i Thuần">
                                                            <i class="fa fa-send" aria-hidden="true"></i> Bắt đối
                                                        </button>


                                                    </div>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Sân
                                                        nhà:</strong><a href="" target="_blank">Sân
                                                        bóng viettel 2 (Sân 7 số 1)</a>
                                                        <span class="price-san">400.000<sup>vnđ</sup> / trận</span>
                                                    </p>
                                                    <p class="item-stadium-address"><i class="fa fa-map-o"
                                                                                       aria-hidden="true"></i><strong>Địa
                                                        chỉ:</strong>Ngõ 155, Ngách 155/206 Trường Chinh - Cầu Phương
                                                        Liệt
                                                        (Quận Thanh Xuân Hà Nội)</p>

                                                    <p class="level-row">
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i><strong>Trình
                                                        độ:</strong>Trung b&#236;nh
                                                    </p>


                                                    <p class="match-contract">
                                                        <i class="fa fa-shirtsinbulk"
                                                           aria-hidden="true"></i><strong>Kèo:</strong>
                                                        thương lượng
                                                    </p>

                                                    <p>
                                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i> <strong>Trạng
                                                        thái:</strong>
                                                        <span class="red">Đang chờ</span>
                                                    </p>


                                                    <p class="quost-doi">
                                                        đội mới đá được vài tháng, trình độ trung bình, toàn anh em cùng
                                                        quê, cam kết đá đẹp, rất mong được giao lưu với mọi người, có gì
                                                        alo
                                                        mình Sơn(1995) 0981184403
                                                    </p>


                                                    <div class="mobile-only match-button-container">


                                                        <button class="btn btn-sm btn-primary pull-right btn-batdoi modal-link-angularjs"
                                                                data-modal-tpl="match.recipientMaker"
                                                                login-required="true"
                                                                data-modal-qs="toTeamId=16692&toUserId=4308&toMatchId=78632&matchId=78632&teamId=16692&toTeamName=FC Th&#225;i Thuần">
                                                            <i class="fa fa-send" aria-hidden="true"></i> Bắt đối
                                                        </button>


                                                    </div>


                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${tab == 2}">
                    <div class="content-cts">
                        <div class="item-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="right-item-san right-item-doi right-item-doi-ct">
                                        <div class="bs-example bs-example-tabs" data-example-id=togglable-tabs>
                                            <ul class="nav nav-tabs" id=myTabs role=tablist>
                                                <li role=presentation class=active><a href="javascript:void(0)">Thành
                                                    viên đội</a>
                                                </li>
                                            </ul>
                                            <div class=tab-content id=myTabContent>
                                                <div class="tab-pane fade in active col-md-12 layout-main-content">
                                                    <div class="portlet-body">
                                                        <ul class="list-item-san" id="team-user-list">
                                                            <li class="item-card item-team-user ng-scope">
                                                                <div class="row">
                                                                    <div class="col-md-4 mobile-bottom-10">
                                                                        <a href="/user/profile/3399" target="_blank"><img class="img-responsive" ng-src="/Images/user/default-user.png" align="thumbnail" src="/Images/user/default-user.png"></a>
                                                                    </div>
                                                                    <div class="col-md-8 right-item-san">
                                                                        <h2><a href="/user/profile/3399" target="_blank" class="ng-binding">Nguyen Thien</a></h2>
                                                                        <p class="ng-binding"><i class="fa fa-map-o" aria-hidden="true"></i> Đội Trưởng</p>
                                                                        <!-- ngIf: user.userMobile!='' -->
                                                                        <!-- ngIf: user.userEmail!='' --><p class="user-email ng-binding ng-scope" ng-if="user.userEmail!=''"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> avac@gmail.com</p><!-- end ngIf: user.userEmail!='' -->
                                                                        <a href="javascript:;" ng-show="vm.onshowRemoveUser(user);" class="btn-chi-tiet ng-hide" ng-click="vm.onConfirmRemoveUser(user);" style="margin-left:2px;">
                                                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Xóa khỏi đội
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="item-card item-team-user ng-scope" ng-repeat="user in vm.userList" style="">
                                                                <div class="row">
                                                                    <div class="col-md-4 mobile-bottom-10">
                                                                        <a href="/user/profile/3399" target="_blank"><img class="img-responsive" ng-src="/Images/user/default-user.png" align="thumbnail" src="/Images/user/default-user.png"></a>
                                                                    </div>
                                                                    <div class="col-md-8 right-item-san">
                                                                        <h2><a href="/user/profile/3399" target="_blank" class="ng-binding">Nguyen Thien</a></h2>
                                                                        <p class="ng-binding"><i class="fa fa-map-o" aria-hidden="true"></i> Đội Trưởng</p>
                                                                        <!-- ngIf: user.userMobile!='' -->
                                                                        <!-- ngIf: user.userEmail!='' --><p class="user-email ng-binding ng-scope" ng-if="user.userEmail!=''"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> avac@gmail.com</p><!-- end ngIf: user.userEmail!='' -->
                                                                        <a href="javascript:;" ng-show="vm.onshowRemoveUser(user);" class="btn-chi-tiet ng-hide" ng-click="vm.onConfirmRemoveUser(user);" style="margin-left:2px;">
                                                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Xóa khỏi đội
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <!--<div class="col-md-3 col-xs-6 team-member-card" th:each="member,iterStat:${members}">-->
                                                            <!--<img class="img-responsive avatar-list" style="height: 50px"-->
                                                                 <!--th:src="@{/uploads/__${member.avatar}__}" align="thumb"-->
                                                                 <!--th:alt="${member.fullName}">-->
                                                            <!--<a th:href="@{/user/profile/__${member.id}__}"-->
                                                               <!--th:text="${member.fullName}"></a>-->
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${tab == 3}">
                    <div class="content-cts">
                        <div class="item-card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="right-item-san right-item-doi">
                                        <div class="header-item-doi">
                                            <h2><a href="#" th:text="${team.name}"></a></h2>
                                        </div>
                                        <p>
                                            <i class="fa fa-map-o" aria-hidden="true"></i>
                                            <strong> Quận/Huyện:</strong>
                                            <th:block th:text="${team.area.name}"></th:block>
                                        </p>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <strong> Thời gian đá:</strong>
                                            <th:block th:text="${team.time}"></th:block>
                                        </p>
                                        <p>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <strong> Độ tuổi:</strong>
                                            <th:block th:text="${team.youngest + ' - ' + team.oldest}"></th:block>
                                        </p>
                                        <p>
                                            <i class="fa fa-shirtsinbulk" aria-hidden="true"></i>
                                            <strong> Trình độ:</strong>
                                            <th:block th:text="${team.level.name}"></th:block>
                                        </p>

                                    </div>
                                    <div class="cl">
                                        <div class="title-img" th:text="${'Giới thiệu về ' + team.name}"></div>
                                        <div class="content-sans">
                                            <p th:text="${team.description}"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${tab == 4}">
                    <div class="content-cts">
                        <div class="item-card" style="padding-bottom:30px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="alert alert-info">
                                                <strong>Chỉ thành viên đội bóng mới xem được thông tin này</strong>
                                                <br />
                                                <a data-dismiss="modal" href="javascript:;" onclick="global.showModalLoginPopup();" class="btn btn-success">Đăng nhập</a>
                                                <a href="#" onclick="location.href = '/';" class="btn btn-danger">Đăng kí</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div class="col-md-4" id="chitiet-doi-right">
                <div class="ads-banner-right" id="s9adright">
                </div>


                <div class="sidebar sidebar-tien-san">
                    <p class="title-box">
                        <i class="fa fa-soccer-ball-o" aria-hidden="true"></i> Cùng trình độ
                    </p>
                    <div class="list-doi-new">
                        <ul class="ul-list-doi-new">
                            <li th:each="teamSame:${teamsSameLevel}">
                                <div class="doi-lis-img">
                                    <a th:href="@{/team/detail/__${teamSame.path}__}">
                                        <img class="img-responsive" th:src="@{/uploads/__${teamSame.logo}__}"
                                             th:alt="${teamSame.name}" align="thumbnail"></a>
                                </div>
                                <div class="doi-lis-content">
                                    <h3>
                                        <a th:href="@{/team/detail/__${teamSame.path}__}" th:title="${teamSame.name}" th:text="${teamSame.name}"></a>
                                    </h3>
                                    <p>
                                        <i class="fa fa-shirtsinbulk" aria-hidden="true"></i>
                                        <th:block th:text="${teamSame.level.name}"></th:block>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a th:href="@{/team/search?l=__${team.level.id}__}" class="doi-xem-them"><i class="fa fa-long-arrow-right"
                                                                                         aria-hidden="true"></i> Xem
                            thêm</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
</body>
</html>
