<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="mobile-app-false ng-scope" data-gr-c-s-loaded="true">
<div th:replace="fragments/header::header"></div>

<div ng-view="" class="ng-scope" style="">
    <div class="top-banner-box">
        <div class="container">
            <h2 class="page-title">Đội bóng của tôi</h2>
        </div>
    </div>
    <div class="breadcrum ng-scope">
        <div class="container">
            <div class="breadcrum-line">
                <a href="/"><i class="fa fa-home"></i>&nbsp; Trang chủ</a>
                <a><i class="fa fa-angle-right"></i>&nbsp; Đội bóng của tôi</a>
            </div>
        </div>
    </div>
    <div class="content-wrap stadium-managment-page ng-scope">
        <div class="container">
            <div class="item-card">
                <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a>
                                <i class="fa fa-list"></i>
                                Đội bóng của tôi
                            </a>
                        </li>
                        <li th:if="${totalRequests != null}">
                            <a th:href="@{/team/my-teams/join-requests}">
                                <i class="fa fa-list"></i>
                                Yêu cầu tham gia đội bóng
                                <b class="badge badge-primary" style="background-color:red" th:text="${totalRequests}"></b>
                            </a>
                        </li>
                        <li>
                            <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                <div th:class="${'alert msg-noti alert-' + type}" style="text-align: center">
                                    <strong th:text="${'Heheh heheheh'}"></strong>
                                </div>
                            </th:block>
                        </li>
                    </ul>
                    <div id="stadiumListTabContent" class="tab-content">
                        <div class="tab-pane fade" id="booking"></div>

                        <div class="tab-pane fade active in" id="#/stadium">
                            <div id="listStadium" style="min-height:250px; position:relative">
                                <div class="pull-right" style="margin-bottom:30px;">
                                    <div class="dropdown">
                                        <a class="btn btn-primary btn-primary-extra"
                                           th:href="@{/team/create}">
                                            <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;&nbsp;Tạo đội bóng mới
                                        </a>
                                    </div>
                                </div>
                                <th:block th:unless="${#lists.isEmpty(teams)}">
                                    <table class="table table-striped table-responsive table-stadium-list ng-scope">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên đội bóng</th>
                                            <th>Thông tin đội bóng</th>
                                            <th>Ảnh đại diện</th>
                                            <th>Ảnh bìa</th>
                                            <th align="right" style="text-align:right">Tác vụ</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="team,iterStat:${teams}" th:id="${'tr-team-' + team.id}">
                                            <td th:text="${iterStat.count}">1</td>
                                            <td>
                                                <a th:href="@{/team/detail/__${team.path}__}">
                                                    <strong th:text="${team.name}">Viktor</strong>
                                                </a>
                                            </td>
                                            <td>
                                                <div>
                                                    <i class="fa fa-user"></i>
                                                    <th:block th:text="${'Đội trưởng: '}"></th:block><a th:href="@{/user/profile/__${team.captain.id}__}" th:text="${team.captain.fullName}"></a>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-o"></i>
                                                    <th:block th:text="${'Khu vực: ' + team.area.name}"></th:block>
                                                </div>
                                                <div>
                                                    <i class="fa fa-clock-o"></i>
                                                    <th:block th:text="${'Thời gian: ' + team.time}"></th:block>
                                                </div>
                                                <div>
                                                    <i class="fa fa-users"></i>
                                                    <th:block th:text="${'Độ tuổi: ' + team.youngest + ' - ' + team.oldest}"></th:block>
                                                </div>
                                                <div>
                                                    <i class="fa fa-shirtsinbulk"></i>
                                                    <th:block th:text="${'Trình độ: ' + team.level.name}"></th:block>
                                                </div>
                                            </td>
                                            <td>
                                                <img height="120" th:src="@{/uploads/__${team.logo}__}">
                                            </td>
                                            <td>
                                                <img height="120" th:src="@{/uploads/__${team.picture}__}">
                                            </td>

                                            <td align="right" style="text-align:right">
                                                <div class="form-group">
                                                    <a class="btn btn-info btn-sm" title="Chỉnh sửa"
                                                       style="width:130px"
                                                       th:href="@{/team/edit/__${team.id}__}">
                                                        <i class="fa fa-pencil"></i> Sửa thông tin
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-danger btn-sm" title="Xóa" style="width:130px"
                                                       th:onclick="'javascript:deleteTeam('+ ${team.id} +')'">
                                                        <i class="fa fa-remove"></i> Xóa
                                                    </a>
                                                </div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
<div th:replace="fragments/modals::modals"></div>
<script th:src="@{/js/my-custom/team.js}"></script>
</body>
</html>