<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body ng-app="sportApp" class="page-frontpage ">
<div th:replace="fragments/header::header"></div>

<div class="top-hero-box">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="fp-banner-text">
                    <h1 class="title">
                        Quản lý sân, tìm đối giao lưu
                        <br>
                        đặt sân trực tuyến
                    </h1>
                    <p class="description">
                        <i class="fa fa-quote-left"></i>
                        Tập hợp hàng ngàn câu lạc bộ thể thao tại Hà Nội, Hồ Chí Minh và các Tỉnh / Thành phố khác.
                        Tại đây, bạn dễ dàng tìm được các đối chơi cùng trình độ cũng như tìm sân chơi chất lượng cao
                        với khung thời gian, giá cả hợp lý nhất.
                    </p>
                    <ul id="feature-list">
                        <li class="free-text">
                            <em class="glyphicon glyphicon-ok-sign"></em>
                            Hoàn toàn <strong>miễn phí</strong>!
                        </li>
                        <li>
                            <em class="glyphicon glyphicon-ok-sign"></em>
                            <strong>Tìm đối</strong> giao lưu, kết bạn dễ dàng.
                        </li>
                        <li>
                            <em class="glyphicon glyphicon-ok-sign"></em>
                            <strong>Quản lý sân</strong>, lịch biểu hiệu quả, tiết kiệm tối đa thời gian
                        </li>
                        <li>
                            <em class="glyphicon glyphicon-ok-sign"></em>
                            Giảm thiểu tối đa tình trạng <strong>trống sân, cháy đối</strong>!
                        </li>
                        <li class="view-more">
                            <a href="/pitch/all" class="btn btn-primary" title="Toàn bộ tính năng">
                                <em class="glyphicon glyphicon-hand-right"></em>
                                XEM CHI TIẾT
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="fp-quick-buttons">
                    <div class="fp-btn-group">
                        <a href="" title="Tìm đối đá bóng tại Hải Châu" class="btn btn-info"
                           id="fp-btn-match-hanoi">
                            <span class="count" id="matchHNCount"></span> Đối tại Hải Châu
                        </a>
                        <a href="" title="Tìm đối đá bóng tại Liên Chiểu"
                           class="btn btn-info" id="fp-btn-match-hcm">
                            <span class="count" id="matchHCMCount"></span> Đối tại Liên Chiểu
                        </a>
                        <a href="/team/search" title="Danh sách đội bóng tại Hải Châu, Thanh Khê, Liên Chiểu..."
                           class="btn btn-info" id="fp-btn-match-team">
                            <span class="count" id="teamAllCount"></span> Đội bóng

                        </a>
                    </div>
                    <div class="fp-btn-group">
                        <a href="/pitch/hai-chau" title="Sân bóng tại Hải Châu" class="btn btn-info"
                           id="fp-btn-stadium-hanoi">
                            <span class="count" id="stadiumHNCount"></span>
                            Sân bóng tại Hải Châu
                        </a>
                        <a href="/pitch/lien-chieu" title="Sân bóng tại Liên Chiểu" class="btn btn-info"
                           id="fp-btn-stadium-hcm">
                            <span class="count" id="stadiumHCMCount"></span>
                            Sân bóng tại Liên Chiểu
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div id="account-creation-form">
                    <h3>Đăng nhập</h3>
                    <form id="frmSignIn" class="modal-forms" method="post">
                        <div class="form-group">
                            <th:block th:if="${msg != null}" th:with="type=${msg.type == 1 ? 'success' : 'danger'}">
                                <div th:class="${'alert msg-noti alert-' + type}" style="text-align: center">
                                    <strong th:text="${msg.message}"></strong>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group">
                            <input name="userName" class="form-control" type="text"
                                   placeholder="Tên đăng nhập" required id="userName">
                        </div>
                        <div class="form-group">
                            <input name="password" class="form-control" type="password"
                                   placeholder="Mật khẩu" required id="password">
                        </div>
                        <div class="form-group">
                            <button id="btnSignIn" type="submit">Đăng nhập</button>
                        </div>
                        <div class="a-btn-modal">
                            <p class="footer-group" style="margin-top:15px;">
                                <a href="javascript:void(0)" class="forgot-pass">Quên mật khẩu</a>
                                <a href="/register" class="register-link pull-right" style="margin-left: 120px">Tạo tài khoản mới</a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>

        </div> <!--End container-->
    </div> <!--End fp-banner-->
</div>

<footer class="footer" th:replace="fragments/footer::footer"></footer>

<div th:replace="fragments/modals::modals"></div>
</body>
</html>
